<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KerwinWeb</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="navbar">
    <nav class="navbar navbar-dark justify-content-between"
      style="background-color: #007BFF;border-radius: 0px 0px 10% 10%;">
      <a class="navbar-brand font-weight-bolder" href="/">家庭記帳本</a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-light">登出</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-light">登入</a>
      {{/if}}
    </nav>
  </div>

  <main class="container mb-3 text-center" style="min-height: 100vh;margin-top: 9vw;">
    {{{body}}}
  </main>

  <footer class="footer py-3">
    <div class="container pt-5">
      <div class="row">
        <div class="col text-left">
          <h6>Content</h6>
          <ul>
            <li>New resources</li>
            <li>The most popular content</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="col text-left">
          <h6>Information</h6>
          <ul>
            <li><span>Plans & pricing</span></li>
            <li>Jobs</li>
            <li>Become a contributor</li>
          </ul>
        </div>
        <div class="col text-left">
          <h6>Help</h6>
          <ul>
            <li>Support</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="col text-left socialicon">
          <h6>Social media</h6>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-github-square"></i></a>
          <a href="#"><i class="fab fa-pinterest-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="mt-4 copyright">
        <img src="/image/logo-via-logohub.png" style="width: 180px;" alt=""></a>
        <span>Copyright &copy; 2019 Kerwin Jhong | All Rights Reserved.</span>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

<script>
  function selecter(dd) {
    let vv = '.' + dd + 'Srt'
    let otBox
    if (dd === 'year') { otBox = "inVaYear" }
    if (dd === 'month') { otBox = "inVaMonth" }
    if (dd === 'day') { otBox = "inVaDay" }
    if (dd === 'category') { otBox = "inVaCategory" }

    var ww = document.querySelectorAll(vv);
    var oo = document.getElementById(otBox);
    for (let i = 0; i < ww.length; i++) {
      if (ww[i].checked) {
        oo.value = ww[i].value;
      }
    }
  }

  function selectedddr() {
    var x = document.querySelectorAll(".srt");
    x.forEach(cc => { if (cc.checked) console.log(cc.value) })
  }

  function selecterGroup() {
    var x = document.getElementById("selecterGroup");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-65px";
    }
    prevScrollpos = currentScrollPos;
  }

  function changeNum(arr) {
    for (let i = 0; i < arr.length; i++) {
      if (Number(arr[i].innerText) > 10000000) {
        let tenMillion = Math.floor((arr[i].innerText) / 10000000)
        arr[i].innerText = `$${tenMillion}千萬`
      } else if (Number(arr[i].innerText) > 100000) {
        let tenThousand = Math.floor((arr[i].innerText) / 10000)
        arr[i].innerText = `$${tenThousand}萬`
      } else {
        let e = `$${arr[i].innerText}`
        arr[i].innerText = e
      }
    }
  }

  let amount = document.querySelectorAll("#amount")
  changeNum(amount)

  let total = document.querySelectorAll("#total")
  changeNum(total)

</script>

</html>